#navigation.column3-container
  .column-pane
    p= about
  .column-pane
    h4 Published Work:
    ul
      each i in published
        if (i.link)
          a(href=i.link)
            li= i.publication
        else
          li= i.publication
  .column-pane
    h4 Contact + Inquiries:
    - var mailUrl = "mailto:" + contact.email;
    - var telUrl = "tel:" + contact.phone;
    a(href=mailUrl)
      p= contact.email
    a(href=telUrl)
      p=contact.phone

  .column-pane
    h4 Galleries:
    ul
      each section in sections

        if !section.galleries
          a(href=section.link)
            li= section.title
        else
          li= section.title
            ul
              each gal in section.galleries
                a(href=gal.link)
                  li.subSection=gal.title

