nav#sidebar.navmenu.navmenu-fixed-left.offcanvas(role='navigation')
  .container-fluid
    .sidebar-container
      p.about= about

      h3
        span.header Galleries
        span :
      ul
        each section in sections
          if !section.galleries
            a(href= '#' + section.link)
              li= section.title
          else
            li.withSubsection
                span= section.title
                span :
              ul
                each gal in section.galleries
                  a(href='#' + gal.link)
                    li.subSection= gal.title
                    
      h3
        span.header Published Work
        span :
      ul
        each i in published
          if (i.link)
            a(href=i.link)
              li= i.publication
          else
            li= i.publication

      h3
        span.header Contact &amp; Inquiries
        span :
      ul
        - var mailUrl = "mailto:" + contact.email;
        - var telUrl = "tel:" + contact.phone;
        a(href=mailUrl)
          li= contact.email
        a(href=telUrl)
          li=contact.phone

    