extends layout

block content
	nav.navbar-default.navbar-fixed-top#overlay(role='navigation')
		.container-fluid
			.navbar-header
				button(type='button' data-toggle='collapse' data-target='#nav-example').navbar-toggle.collapsed
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				p.navbar-brand
					a#home.nav-link(href='/')=title
			.collapse.navbar-collapse#nav-example
				ul.nav.navbar-nav
					li
						a.nav-link(href='#about' data-menuanchor='about') about
					li.dropdown
						a.nav-link.dropdown-toggle(data-toggle='dropdown') news 
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a.nav-link(href='#mpr' data-menuanchor='mpr') minnesota public radio
							li
								a.nav-link(href='#gp' data-menuanchor='gp') the global post
						
					li
						a.nav-link(href='#lovers' data-menuanchor='lovers') lovers
					li
						a.nav-link(href='#travel' data-menuanchor='travel') travel
					li
						a.nav-link(href='#fashion' data-menuanchor='fashion') fashion
					li
						a.nav-link(href='#everyday' data-menuanchor='everyday') everyday
					li
						a.nav-link(href='#video' data-menuanchor='video') video
	.fullpage
		.section
			.content
				a(href='/')
					each url in images.landing
						img(src=url)
			
		.section(data-anchor='about')
			.content
				h4 Hey, I'm Will!
				p I've been doing photography since 2004 and teaching it since 2010. I like to take photos of things that I think are important. I was born and raised in Portland, Oregon, but Minnesota is home for now.
				br
				h4 contact + inquiries: 
				p
					a.notes.secondary(href="mailto:matsudaw@gmail.com") matsudaw@gmail.com
					span  | 
					a.notes.secondary(href="tel:5033132095") 503-313-2095
				button(type='button').btn 
					a.btn-link(href='https://www.tumblr.com/follow/williammatsuda' target='_blank') follow on tumblr
				p.note.secondary.secondary [all work copyright Will Matsuda | 
					a.notes.secondary(href='http://github.com/wkentdag/matsuda' target='_blank') site 
					span.secondary by  
					a.notes.secondary(href='http://wkd.pw' target="_blank") Will Kent-Daggett
					span.secondary ]
		.section(data-anchor='mpr')
			each url in images.mpr
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='gp')
			each url in images.gp
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='lovers')
			each url in images.lovers
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='travel')
			each url in images.travel
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='fashion')
			each url in images.fashion
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='everyday')
			each url in images.everyday
				.slide.photoSlide
					img(src=url)
		.section(data-anchor='video')
			each url in images.video
				.slide.photoSlide
					- var bg = 'background-image:' + url;
					//- video.vid(autoplay="autoplay" controls="controls")
					//- 	source(src='//www.youtube.com/embed/M5Gz4zCckkg' type="video/mp4")
					iframe(src=url, frameborder='0', allowfullscreen='allowfullscreen')


			
